h3{
    background-color: red;
    color: rgb(47, 194, 145);
    text-align: start;
    
}

p{
    color: red;
}
#a{
    background-color: aquamarine;
}   

.a{
    background-color: red;
    color: blue;
}