body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E90FF;
  height: 100vh;

}
.d{
  border: 20px solid white;
 border-radius: 10px; 
 background-color: white; 
   
}

.d1 {
   margin: none;
   border: 1px solid #F8F8FF;
   border-radius: 5px;
   background-color: #F8F8FF;
   text-align: right;
   padding: 10px;
   font-size: 20PX;
   
}
.d2{
  
  gap:10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  
}
button{
  border:1px solid white;
  border-radius: 10px;
  padding:20px;
  font-size:20px;
  
}