body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;

}
.d{
    border: 1px solid black;
    padding: 120px;
    width: 350px;
    background-color: antiquewhite;
}
h1{
    text-align: center;
}
.a input{
    border: 2px solid white;
    border-radius: 5px;
    border-color: blue;
    width: 75%;
    padding: 5px;
    
}
.a button{
 border: 2px solid white;
    border-radius: 5px;
    border-color: blue;
    background-color: blue;
    padding: 5px;
}
h1{
    margin-top: -100px;
}
.d1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.d1 button{
    background: red;
}